.app_dark_theme {
  --bg-color: #01014c;
  --inverted-bg-color: #c3c3cc;

  --primery-color: green;
  --secondary-color: #28f328;

  --inverted-primery-color: #051ba5;
  --inverted-secondary-color: #3452f3;
}